<br>
<div style="margin: 0 auto; width: 50%; text-align: center;" class=card>
<p id="alert"><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, "", class: 'form-control' %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: 'form-control' %>
  </div><br>
  <div class="actions">
    <%= submit_tag "Login", class: "btn btn-dark" %>
  </div>
<% end %>
</div>