<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user %>
  Logged in as <%= current_user.username %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>
<p id=”notice”><%= notice %></p>
<h1>Example</h1>
<p>Lorem ipsum …</p>
<% Post.all.each do |post| %>
	<strong>Nom de la gem :</strong> <%= post.title %><br>
	<strong>Infos sur la gems</strong> <%= post.content %>
	<br>
	  	<!-- Condition ternaire -->
  	<p> 
  		<%= "#{Comment.where(post_id: post.id).count} #{(Comment.where(post_id: post.id).count > 1) ? "commentaires" : "commentaire"}" %>
	</p>
    <%= link_to "Details", post %><br>
<%end%>