   <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.readwrite.com/wp-content/uploads/2018/04/coding-825x500.jpg)"></div>
    </div>
    <div class="description">
      <h1>Hey you, welcome !</h1>
      <p> Welcome to GemList, the best place to find the bests gems to use with Ruby :)</p>
      <p>You must be logged if you want to add, edit and comment Gem posts. </p>
    </div>
  </div>
<br>
<div style="margin-left: 11%;" class="grid-container">
<% Post.all.each do |post| %>
<figure style="border-radius: 5px;" class="snip1216 grid-item">
  <% if post.image.include? ".png" || ".jpg" || ".jpeg" %>
  <div class="image"><img style="width: 300px; height: auto;" src=<%=post.image%> alt="sample69"/></div>
  <% else %>
  <div class="image"><img style="width: 300px; height: auto;" src="http://image.noelshack.com/fichiers/2018/48/5/1543593694-0-jdzg4efijexf3hur.png" alt="sample69"/></div>
  <% end %>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Up</span></div>
    <h3><%= post.title %></h3>
    <p>
      <%= post.intro %>
      <%= link_to "", post %>
    </p>
  </figcaption>
  <footer>
    <div class="comments"><i class="ion-chatboxes"></i><%=Comment.where(post_id: post.id).count%></div>
  </footer>
</figure>
<% end %>
</div>