<% Post.all.each do |post| %>
<figure class="snip1216">
  <% if post.image %>
  <div class="image"><img style="height:320px; width: auto" src=<%=post.image%> alt="sample69"/></div>
  <% else %>
  <div class="image"><img style="height:320px; width: auto" src="https://cdn-images-1.medium.com/max/1200/0*JdZg4EfijEXf3hur.png" alt="sample69"/></div>
  <% end %>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Up</span></div>
    <h3><%= post.title %></h3>
    <p>
      <%= post.intro %>
      <%= link_to "", post %>
    </p>
  </figcaption>
  <footer>
    <div class="comments"><i class="ion-chatboxes"></i><%=Comment.where(post_id: post.id).count%></div>
  </footer>
</figure>
<% end %>