<br>
<div class="grid-container">
<% Post.all.each do |post| %>
<figure class="snip1216 grid-item">
  <% if post.image.include? ".png" || ".jpg" || ".jpeg" %>
  <div class="image"><img style="height:320px; width: auto" src=<%=post.image%> alt="sample69"/></div>
  <% else %>
  <div class="image"><img style="height:320px; width: auto" src="http://image.noelshack.com/fichiers/2018/48/5/1543593694-0-jdzg4efijexf3hur.png" alt="sample69"/></div>
  <% end %>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Up</span></div>
    <h3><%= post.title %></h3>
    <p>
      <%= post.intro %>
      <%= link_to "", post %>
    </p>
  </figcaption>
  <footer>
    <div class="comments"><i class="ion-chatboxes"></i><%=Comment.where(post_id: post.id).count%></div>
  </footer>
</figure>
<% end %>
</div>