<%= form_with(model: post, local: true) do |form| %>
<div style="margin: 0 auto; width: 50%; text-align: center;" class="card">
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control", :placeholder => "The name of the gem" %>
  </div>

  <div class="field">
    <%= form.label :intro %>
    <%= form.text_area :intro, :placeholder => "Intro à la gem", :maxlength => "150", class: "form-control" %>
  </div>  

  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content, :placeholder => "Explication concernant la gem, comment l'utiliser etc...", class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, :placeholder => "Lien d'image (optionel)", class: 'form-control'%>
  </div><br>

  <div class="actions">
    <%= form.submit "Submit", :class => "btn btn-dark" %>
  </div>
<% end %>
</div>
