    <div style="margin: 0 auto; width: 60%;">
        <div class="card">
            <% if current_user.nil? %>
            <% else %>
                <%= link_to 'Delete Gem', 
                         @post, 
                         method: :delete,
                         data: { confirm: 'Are you sure?' },
                         class: "btn btn-danger" %>  
            <% end %>
            <h5>Posted in: <%= @post.created_at %> by <%= User.find(@post.user_id).username %></h5>
            <% if @post.image.include?(".png") || @post.image.include?(".jpg") || @post.image.include?(".jpeg")%>
            <img class="fakeimg" style="height:200px;" src=<%= @post.image %>>
            <% else %>
            <img style="width: 300px; height: auto;" src="http://image.noelshack.com/fichiers/2018/48/5/1543593694-0-jdzg4efijexf3hur.png" alt="sample69"/>
            <% end %>
            <h2>Introduction :</h2>
            <p>
                <%= @post.intro %>
            </p>
        </div>
        <div class="card">
            <h2>Informations sur la gem</h2>
            <p>
                <%= @post.content.html_safe %>
            </p>
        </div>
    </div>
    <br>
<div style="padding-top: 0; margin: 0 auto; width: 50%;" class="container">
        <div class="col-sm-10 col-sm-offset-1" id="logout">
            <div style="margin-left: 10%;" class="comment-container">
                <div class="page-header"><br>
                    <h3 class="reviews" style="text-align: center;">Laisse un commentaire</h3>
                </div>
                <div style="margin-left: 5%;" class="comment-tabs">
                    <%= render "comments/form",
           :comment => @comment %>
                </div>
                <% for comment in @comments.where(post_id: @post.id) %>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments-logout">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="well well-lg">
                                        <h4 class="media-heading text-uppercase reviews"><%= User.find(comment.user_id).username %></h4>
                                        <ul class="media-date text-uppercase reviews list-inline">
                                        </ul>
                                        <p class="media-comment">
                                            <%= comment.content %>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
</div>
<br>
